<div class="content-wrapper">
  <div class="content-block">
    <div class="content">
          <div class="user-about">
            <div class="image">
              <% if @item.user.image.attached? %>
                <%= image_tag @item.user.image %>
              <% else %> %>
                 <%= image_tag "nouser.png" %>
              <% end %>
            </div>

            <div class="profile">
              <div class="name-about">
                <div class="name">
                  <%= @item.user.name %>
                </div>
              </div>
              <div class="detail">
                <%= @item.user.detail %>
              </div>
            </div>
          </div>

          <% if @item.images.attached? %>
            <div class="images">
                <% @item.images.each do |image| %>
                <%= image_tag image %>
            </div>
          <% end %>
        <% end %>

        <div class="menu-name">
          <h2>[メニュー名]<%= @item.title %></h2>
        </div>

        <div class="menu-price">
          <h2>[価格]<%= @item.price %>円</h2>
           <% if user_signed_in? && @item.user_id != current_user.id %>
             <h3><%= link_to '購入画面に進む', item_orders_path(@item), class:"item-red-btn" %></h3>
           <% end %>
        </div>

          <% if user_signed_in? && current_user.id == @item.user_id %>
            <div class="item__manage">
              <%= link_to "編集する", edit_item_path(@item), class: :item__btn %>
              <%= link_to "削除する", item_path(@item), method: :delete, data: { confirm: '削除しますか？' }, class: :item__btn %>
            </div>
          <% end %>

        <div class="text">
           <%= @item.content %>
        </div>

         <div class="action-menu">
            <div class="comment">
              <% if user_signed_in? %>
            <%= form_with url: item_comments_path(@item), model: @comment, data: { confirm: '誹謗中傷など、読む人が不快になるような内容は含まれていませんか？' },　local: true do |f| %>
              <div class="field"><br>
                <%= f.label :text, "コメント" %><br />
                <%= f.text_field :text %>
              </div>
              <div class="actions">
                <%= f.submit "送信する", class: "button" %>
              </div>
            <% end %>
            <% end %>
            <ol class="comments_lists">
                <% if @comments.present? %>
                <% @comments.each do |comment| %>
                  <li class="comments_list">
                    <%= comment.text %>
                    <%= comment.user.name %>
                    <%= comment.created_at %>
                  <% end %>
                  </li>
              <% end %>
            </ol>
         </div>
       </div>
    </div>
  </div>
</div>